{# templates/profile/change_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1>Changer votre mot de passe</h1>
    {{ form_start(form) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>
{% endblock %}
