{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    body {
        background-color: #f4f4f9;
        color: #333;
    }
    .table {
        margin-top: 20px;
        border-collapse: separate;
        border-spacing: 0 15px;
    }
    th {
        background-color: #000;
        color: #fff;
    }
    td {
        background-color: #fff;
        border: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .container {
        padding-top: 30px;
    }
</style>


<div class="container">
    <h1 class="mb-4 text-center">Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ utilisateur.email }}</td>
                <td>

                <a href="{{ path('app_change_password', {'id': utilisateur.id}) }}" class="btn btn-primary">Modifier mon mot de passe </a>

                 </td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>
                    {{ utilisateur.pays }}<br>
                    {{ utilisateur.ville }}<br>
                    {{ utilisateur.nomRue }}<br>
                    {{ utilisateur.numeroRue }}
                </td>
                <td>{{ utilisateur.telephone }}</td>
        
                  <td>  <a href="{{ path('profile_edit', {'id': utilisateur.id}) }}" class="btn btn-primary">Éditer</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
