{# templates/messages/send.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Envoyer un Nouveau Message{% endblock %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   {% include 'layout/header.html.twig' %}
<div class="container">
    <h1>Envoyer un Nouveau Message</h1>
    {{ form_start(messageForm) }}
    {{ form_row(messageForm.title) }}
    {{ form_row(messageForm.message) }}
    {{ form_row(messageForm.destinataire) }}
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(messageForm) }}
</div>
{% endblock %}
