<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_accueil') }}"><img src="/images/logo/ventalislogo.png" alt="Ventalis Logo" style="height: 60px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if not is_granted('ROLE_EMPLOYE') %}
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_messages') }}">Mon assistance</a>
          </li>
      {% endif %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('contact') }}">Contact</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_apropos') }}">A propos de nous </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_produit') }}">Nos Parfums</a>
        </li>
        {% if is_granted('ROLE_EMPLOYE') %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('employe_index') }}">Intranet</a>
          </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('admin') }}">Admin</a>
          </li>
        {% endif %}
      </ul>
      <div class="d-flex">
        <a href="{{ path('cart_index') }}" class="nav-link m-1"><i class="fa fa-shopping-cart" style="color : black " aria-hidden="true"></i></a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="{{ path('app_profile_index') }}" class="nav-link m-1"><i class="fa fa-user" style="color : black " aria-hidden="true"></i></a>
          <a href="{{ path('app_logout') }}" class="nav-link m-1"><i class="fa fa-sign-out" style="color : black " aria-hidden="true"></i></a>
        {% else %}
          <a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
          <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
