<nav class="navbar navbar-expand-lg bg-body-tertiary">


  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_accueil')}}">Ventalis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Produits</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Conseil</a>
        </li>

          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_messages')}}">Ma messagerie</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {# L'utilisateur est connecté, vous pouvez accéder à l'objet app.user #}
          <a class="nav-link active" aria-current="page" href="{{ path('admin')}}">Admin</a>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_register')}}">Inscription</a>
        </li>
     </ul>
         <a href="{{ path('cart_index') }}" class="nav-link active" >Mon panier </a>
         <br>
         <a href="{{ path('app_login') }}" class="nav-link active" >Connexion</a>
         <br>
         <a href="{{ path('app_profile_index') }}" class="nav-link active" >Mon compte</a>
    
       <br>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <a href="{{ path('app_logout') }}" class="nav-link active" >Déconnexion</a>
        {% endif %}
        
    </div>
  </div>
</nav>